<div class="card  border-top-0 border-left-0 border-right-0 border-bottom-0 messages-container" style="max-height: 400px; overflow: scroll;" id="scrolling">
    <div class="card-body messages">
        <div class="row">
            <div class="col-12 text-center">
                <%= link_to "View archive", archive_path(chat_box.id) %>
            </div>
        </div>
        <div id="messages" data-chat-box-id="<%= chat_box.id %>">
            <%= render @messages %>
        </div>

        <%= javascript_pack_tag "chat/timestamps" %>
    </div>
</div>

<%= simple_form_for(message, url: "#") do |f| %>
    <div class="form-group row mt-2">
        <div class="col-10 mr-0 ml-0 pr-0">
            <div class="pell pell-chat  row ml-0 mr-0 border border-accent" id="pell">
            </div>
            <%= f.hidden_field :body %>
            <%= f.button :submit, style: "display: none;", id: "real-submit" %>
        </div>
        <div class="col-2 align-self-center mr-0 ml-0 pl-0">
            <%= button_tag(type: 'submit', class: "btn bg-white w-100  border-accent border-left-0", style: "cursor: pointer; height: 74px;", id: "message_submit") do %>
                <%= octicon "mail", height: "30", width: "30", fill: "#003459" %>
            <% end %>
        </div>
    </div>
<% end %>