<div class="chatbox">
    <div class="messages" id="messages" data-chat-box-id="<%= chat_box.id %>">
        <div id="inner-messages">
            <%= render @messages %>
        </div>
    </div>

    <%= simple_form_for(message, url: "#", class: "message-form") do |f| %>
        <%= f.input_field :body, as: :text, class: "message-input" %>
        <%= f.button :submit, "Send", class: "send-message-btn" %>
    <% end %>
</div>