<%= render 'games/carousel', recent_games: @recent_games, league: @league, season: @season %>

<div class="card mt-3">
        <div class="card-header text-center bg-dark text-white">
            <%= @league.name %> - <%= link_to @season.title, league_season_path(@league, @season) %>
        </div>
        <div class="card-body text-center">
            Welcome to the <%= @league.name %>. You're viewing <%= @season.title %>.
        </div>
        <% if !current_user.seasons_signed_up.include?(@season) && @season.current %>
            <div class="card-footer text-center text-muted">
                <%= link_to "Sign up", signup_league_season_path(@league, @season) %>
            </div>
        <% end %>
    </div>
</div>

<div class="container mt-4 mb-4">
    <nav class="navbar navbar-dark bg-dark navbar-expand-lg rounded" style="background-color: #fff;">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#leagueNav" aria-controls="#leagueNav" aria-expanded="false" aria-label="Toggle navigation">
            <span><%= octicon "three-bars", fill: "#fff" %></span>
        </button>
        <div class="collapse navbar-collapse" id="leagueNav">
            <ul class="navbar-nav">
                <li class="nav-item text-muted">
                    <%= link_to "Home", league_season_path(@league, @season), class: "nav-link" %>
                </li>
                <li class="nav-item text-muted">
                    <%= link_to "Rosters", rosters_league_season_path(@league, @season), class: "nav-link" %>
                </li>
                <li class="nav-item text-muted">
                    <%= link_to "Leaders", leaders_league_season_path(@league, @season), class: "nav-link" %>
                </li>
                <li class="nav-item font-weight-bold active">
                    <%= link_to "Players", players_league_season_path(@league, @season), class: "nav-link" %>
                </li>
                <li class="nav-item text-muted">
                    <%= link_to "Schedule", schedule_league_season_path(@league, @season), class: "nav-link" %>
                </li>
                <li class="nav-item text-muted">
                    <%= link_to "Transactions", transactions_league_season_path(@league, @season), class: "nav-link" %>
                </li>
                <li class="nav-item text-muted">
                    <%= link_to "Signups", signups_league_season_path(@league, @season), class: "nav-link" %>
                </li>
            </ul>
        </div>
    </nav>

    <% if @season.games.where(final: true).any? %>
        <div class="mt-2" id="players" style="font-size: 0.75em;" data-data="<%= @sql_stats.to_json %>">
        </div>
    <% end %>
</div>

<%= javascript_pack_tag "tables/players" %>