<%= render 'games/carousel', recent_games: @recent_games, league: @league, season: @season %>

<div class="card mt-3">
        <div class="card-header text-center">
            <%= @league.name %> - <%= link_to @season.title, league_season_path(@league, @season), method: :get %>
        </div>
        <div class="card-body text-center">
            Welcome to the <%= @league.name %>. You're viewing <%= @season.title %>.
        </div>
        <% if !current_user.seasons_signed_up.include?(@season) && @season.current %>
            <div class="card-footer text-center text-muted">
                <%= link_to "Sign up", signup_league_season_path(@league, @season) %>
            </div>
        <% end %>
    </div>
</div>

<div class="container mt-4 mb-4">
    <nav class="navbar navbar-white bg-white navbar-expand-lg rounded" style="background-color: #fff;">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#leagueNav" aria-controls="#leagueNav" aria-expanded="false" aria-label="Toggle navigation">
            <span><%= octicon "three-bars" %></span>
        </button>
        <div class="collapse navbar-collapse" id="leagueNav">
            <ul class="navbar-nav">
                <li class="nav-item text-muted">
                    <%= link_to "Home", league_season_path(@league, @season), method: :get, class: "nav-link" %>
                </li>
                <li class="nav-item text-muted">
                    <%= link_to "Leaders", leaders_league_season_path(@league, @season), method: :get, class: "nav-link" %>
                </li>
                <li class="nav-item text-muted">
                    <%= link_to "Standings", standings_league_season_path(@league, @season), method: :get, class: "nav-link" %>
                </li>
                <li class="nav-item text-muted">
                    <%= link_to "Players", players_league_season_path(@league, @season), method: :get, class: "nav-link" %>
                </li>
                <li class="nav-item font-weight-bold">
                    <%= link_to "Schedule", schedule_league_season_path(@league, @season), method: :get, class: "nav-link" %>
                </li>
                <li class="nav-item text-muted">
                    <%= link_to "Transactions", transactions_league_season_path(@league, @season), method: :get, class: "nav-link" %>
                </li>
                <li class="nav-item text-muted">
                    <%= link_to "Signups", signups_league_season_path(@league, @season), method: :get, class: "nav-link" %>
                </li>
            </ul>
        </div>
    </nav>

    <% @games.each do |key, values| %>
        <div class="card mt-2">
            <div class="card-header text-center">
                <%= key %>
            </div>

            <% values.each do |v| %>
                <%= link_to league_season_game_path(v.season.league, v.season, v), method: :get do %>
                    <div class="row justify-content-center p-2">
                        <div class="col-1 text-center">
                            <img class="img-responsive" style="max-height: 100%; max-width: 100%;" src="<%= get_logo(v.away_team) %>"/>
                        </div>

                        <div class="col-3 text-center align-self-center">
                            <%= v.away_team.name %>
                        </div>

                        <% if v.final %>
                            <div class="col-1 text-center align-self-center">
                                <%= v.away_goals %>
                            </div>
                            <div class="col-1 text-center align-self-center">
                                <%= v.home_goals %>
                            </div>
                        <% else %>
                            <div class="col-2 text-center align-self-center">
                                TBD
                            </div>
                        <% end %>

                        <div class="col-3 text-center align-self-center">
                            <%= v.home_team.name %>
                        </div>

                        <div class="col-1 text-center">
                            <img class="img-responsive" style="max-height: 100%; max-width: 100%;" src="<%= get_logo(v.home_team) %>"/>
                        </div>
                    </div>
                <% end %>
            <% end %>
        </div>
    <% end %>
</div>