<div class="row justify-content-center">
    <div class="col-12 col-lg-6">
        <%= form_for(@signup, :url => url_for(:action => "process_signup", :controller => "seasons"), method: :post) do |f| %>

            <div class="card">
                <div class="card-header">
                    <div class="text-center">
                        <img width="200" height="200" src="<%= asset_path("MooseLogo.png") %>"/>
                    </div>

                    <div class="text-center font-weight-bold text-uppercase mt-2">
                        <%= @season.league.name %> <%= @season.title %> Signup
                    </div>

                    <div class="text-center mt-2">
                        <p>
                            NHL18 is right around the corner and with that, a brand new Moose season. The MEC is excited to get back to action! The yearly release always signals the Fall/Winter season for the Moose Hockey League.
                            We are always discussing how to improve the Moose Hockey League so some possible changes for Season 33 are still an option. We will evaluate the past season and adapt our Rules accordingly. Changes made after this sign-up form is open will be added here for new sign-ups and posted on the forums for all to be aware of.
                        </p>

                        <p>
                            The MEC has decided to offer its members a new off-season option - a once-per-NHL-year contract opt-out. The activation of this opt-out means your current Captain cannot keep, nor RFA, you and you will be returned to the regular draft pool.
                        </p>

                        <p>
                            For all the current rules, follow this link: <%= link_to "Rules", pages_rules_path %>
                        </p>

                        <p>
                            The Moose Hockey League is also unique in that the entire season schedule is provided before the season starts. This allows all of our members to plan their other activities around this league. With our small roster sizes and our one-line system, the MEC expects that each player will be able to play on their scheduled nights. Due to this, the MEC requests members to work with their team Captain in advance if they will be missing Moose games or a full series. We do realize real life happens and things come up, which is why there are also multiple alternates for each MHL team. As a result of this, missing Moose games due to playing in other leagues is frowned upon.
                        </p>

                        <p>
                            Draft is <strong>Monday, October 16th</strong>
                        </p>

                        <p>
                            Season opens <strong>Sunday, October 22nd</strong>
                        </p>

                        <p>
                            Thank you for choosing the Moose Hockey League. We appreciate your commitment.
                        </p>
                    </div>
                </div>
                <div class="card-body">
                    <div class="form-group">

                        <%= f.hidden_field :season_id, value: @season.id %>
                        <%= f.hidden_field :user_id, value: current_user.id %>

                        <label>Preferred Position</label>
                        <%= f.select :preferred, ["LW", "C", "RW", "LD", "RD", "G"], {}, {class: "form-control"} %>

                        <div>
                            <label class="mt-2">Willing Positions</label>
                        </div>
                        <%= f.collection_check_boxes(:willing, ["LW", "C", "RW", "LD", "RD", "G"], :to_s, :to_s) do |c| %>
                            <div class="form-check form-check-inline">
                                <label class="form-check-label">
                                    <%= c.check_box class: "form-check-input" %>
                                    <%= c.text %>
                                </label>
                            </div>
                        <% end %>

                        <div>
                            <label class="mt-2">Moose Veteran?</label>
                        </div>
                        <%= f.check_box :veteran %>

                        <div>
                            <label class="mt-2">Part-time?</label>
                        </div>
                        <%= f.check_box :part_time %>

                        <div>
                            <label class="mt-2">MIA Dates</label>
                        </div>
                        <%= f.text_field :mia, class: "form-control" %>

                        <div class="mt-3 text-center">
                            <%= f.submit "Sign up", class: "btn btn-outline-dark", style: "cursor: pointer;" %>
                        </div>

                    </div>
                </div>

            </div>

        <% end %>
    </div>
</div>