<%= form_for(@transaction, :url => url_for(:action => "process_transaction", :controller => "seasons"), method: :post) do |f| %>
    <div class="card">
        <div class="card-header text-center">
            <%= @league.name %> <%= @season.title %> Transaction Form
        </div>
        <div class="card-body text-center">
            <div class="form-group">
                <div id="movements">
                    <%= f.fields_for :movements, @transaction.movements do |builder| %>
                        <%= render "movement_entry", f: builder, players: @season.team_players, teams: @season.teams %>
                    <% end %>
                    
                    <%= link_to_add_movements "<button class='btn btn-outline-dark' style='cursor: pointer;'>Add transaction</button>".html_safe, f, :movements, @season.team_players, @season.teams %>
                </div>
                <%= f.submit "Submit transaction", class: "btn btn-info mt-4", style: "cursor: pointer;" %>
            </div>
        </div>
    </div>
<% end %>