<div class="row mt-1 pt-2 border-bottom-0 border-left-0 border-right-0 border border-light">
    <div class="col-12">
        <div class="row justify-content-between mb-2">
            <%= link_to profile_path(message.user.user_name), method: :get, class: "col-3 text-left font-weight-bold" do %>
                <img class="rounded" width="20" height="20" src="<%= get_avatar(message.user) %>"/> <%= message.user.user_name%>
            <% end %>
            <div class="col-3 text-right text-muted">
                <%= time_ago_in_words(message.created_at) %> ago
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-left">
                <%= simple_format(message.body) %>
            </div>
        </div>
    </div>
</div>