<div class="dropdown">
    <button type="button" id="profileDropdownButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <img class="img-fluid rounded mr-2" width="30" height="30" src="<%= get_avatar(current_user) %>"/> <%= octicon "triangle-down" %>
    </button>
    <div class="dropdown-menu dropdown-menu-right">
        <a class="dropdown-item disabled text-muted text-center"><%= current_user.user_name %></a>
        <div class="dropdown-divider"></div>
        <%= link_to "Your profile", profile_path(current_user.user_name), method: :get, class: "dropdown-item" %>
        <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
    </div>
</div>