<div class="card mt-3">
    <div class="card-header text-center">
        Edit Profile: <%= @user.user_name%>
    </div>
    <div class="card-body">
        <%= form_for(@user, url: {action: "update"}, html: {multipart: true}) do |f| %>
            <div class="form-group row justify-content-center">
                <div class="col-12 col-lg-6">
                    <label>Birthplace</label>
                    <%= f.text_field :birthplace, class: "form-control" %>

                    <label class="mt-2">Birthday</label>
                    <div class="row justify-content-center">
                    <%= f.date_select :born, {start_year: Date.today.year - 100, end_year: Date.today.year}, {class: "form-control col-2 mr-2"} %>
                    </div>

                    <label class="mt-2">Height</label>
                    <%= f.text_field :height, class: "form-control"%>

                    <label class="mt-2">Weight</label>
                    <%= f.text_field :weight, class: "form-control" %>

                    <label class="mt-2">Banner</label>
                    <%= f.select :banner, banner_options(), {}, {class: "form-control"} %>

                    <label class="mt-2">Avatar</label>
                    <%= f.file_field :avatar, class: "form-control" %>
                    
                    <div class="text-center mt-3">
                        <%= f.submit "Update Profile", class: "btn btn-outline-dark", style: "cursor: pointer;" %>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
</div>