<div class="card mt-4">
    <div class="card-header bg-dark text-center text-white"><%= @user.user_name %> Post History</div>
    <div class="card-body">
        <% @posts_comments.each do |pc| %>
            <% if pc.has_attribute?(:title) %>
                <%= link_to subforum_post_path(pc.subforum, pc), method: :get do %>
                    <div class="row mt-2 mb-2 border border-dark border-left-0 border-right-0 border-top-0 p-3">
                        <div class="col-1">
                            <img class="rounded-circle" style="max-height: 100%; max-width: 100%;" src="<%= get_avatar(@user) %>"/>
                        </div>
                        <div class="col-11 text-left">
                            <div class="text-left">
                                <% if pc.has_attribute?(:title) %>
                                    <%= pc.title %>
                                <% else %>
                                    <%= pc.post.title %>
                                <% end %>
                            </div>
                            <div class="text-left text-muted">
                                <%= simple_format(pc.content).truncate(50) %>
                            </div>
                            <div class="text-left text-muted">
                                <%= (pc.created_at - 4.hours).strftime("%I:%M %p %^b %d %Y") %>
                            </div>
                        </div>
                    </div>
                <% end %>
            <% else %>
                <%= link_to subforum_post_path(pc.post.subforum, pc.post), method: :get do %>
                    <div class="row mt-2 mb-2 border border-dark border-left-0 border-right-0 border-top-0 p-3">
                        <div class="col-1">
                            <img class="rounded-circle" style="max-height: 100%; max-width: 100%;" src="<%= get_avatar(@user) %>"/>
                        </div>
                        <div class="col-11 text-left">
                            <div class="text-left">
                                <% if pc.has_attribute?(:title) %>
                                    <%= pc.title %>
                                <% else %>
                                    <%= pc.post.title %>
                                <% end %>
                            </div>
                            <div class="text-left text-muted">
                                <%= simple_format(pc.content).truncate(50) %>
                            </div>
                            <div class="text-left text-muted">
                                <%= (pc.created_at - 4.hours).strftime("%I:%M %p %^b %d %Y") %>
                            </div>
                        </div>
                    </div>
                <% end %>
            <% end %>
        <% end %>
    </div>
</div>