<%= render 'games/carousel', recent_games: @recent_games, league: @league, season: @season %>

<div class="card mt-3">
        <div class="card-header text-center">
            <%= @league.name %> - Current Season (<%= link_to @season.title, league_season_path(@league, @season), method: :get %>)
        </div>
        <div class="card-body text-center">
            Welcome to the <%= @league.name %>. We are currently in <%= @season.title %>.
        </div>
        <% if !current_user.seasons_signed_up.include?(@season) && @season.current %>
            <div class="card-footer text-center text-muted">
                <%= link_to "Sign up", signup_league_season_path(@league, @season) %>
            </div>
        <% end %>
    </div>
</div>

<div class="container mt-4">
    <nav class="navbar navbar-white bg-white navbar-expand-lg rounded" style="background-color: #fff;">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#leagueNav" aria-controls="#leagueNav" aria-expanded="false" aria-label="Toggle navigation">
            <span><%= octicon "three-bars" %></span>
        </button>
        <div class="collapse navbar-collapse" id="leagueNav">
            <ul class="navbar-nav">
                <li class="nav-item text-muted">
                    <%= link_to "Home", league_path(@league), method: :get, class: "nav-link" %>
                </li>
                <li class="nav-item text-muted">
                    <%= link_to "Leaders", leaders_league_path(@league), method: :get, class: "nav-link" %>
                </li>
                <li class="nav-item text-muted">
                    <%= link_to "Standings", standings_league_path(@league), method: :get, class: "nav-link" %>
                </li>
                <li class="nav-item font-weight-bold">
                    <%= link_to "Players", players_league_path(@league), method: :get, class: "nav-link" %>
                </li>
                <li class="nav-item text-muted">
                    <%= link_to "Schedule", schedule_league_path(@league), method: :get, class: "nav-link" %>
                </li>
                <li class="nav-item text-muted">
                    <%= link_to "Transactions", transactions_league_path(@league), method: :get, class: "nav-link" %>
                </li>
                <li class="nav-item text-muted">
                    <%= link_to "Signups", signups_league_path(@league), method: :get, class: "nav-link" %>
                </li>
                <li class="nav-item text-muted">
                    <%= link_to "History", history_league_path(@league), method: :get, class: "nav-link" %>
                </li>
            </ul>
        </div>
    </nav>

    <% if @season.games.where(final: true).any? %>
        <div class="card mt-2">
            <div class="card-header text-center">
                Players
            </div>
            <div class="card-body" style="font-size: 0.75em;" id="players" data-data="<%= @data.to_json %>">
            </div>
        </div>
    <% end %>
</div>

<%= javascript_pack_tag "tables/players" %>