<%= render 'games/carousel', recent_games: @recent_games, league: @league, season: @season %>

<div class="card mt-3">
        <div class="card-header text-center">
            <%= @league.name %> - Current Season (<%= link_to @season.title, league_season_path(@league, @season), method: :get %>)
        </div>
        <div class="card-body text-center">
            Welcome to the <%= @league.name %>. We are currently in <%= @season.title %>.
        </div>
        <% if !current_user.seasons_signed_up.include?(@season) && @season.current %>
            <div class="card-footer text-center text-muted">
                <%= link_to "Sign up", signup_league_season_path(@league, @season) %>
            </div>
        <% end %>
    </div>
</div>

<div class="container mt-4">
    <nav class="navbar navbar-dark bg-dark navbar-expand-lg rounded" style="background-color: #fff;">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#leagueNav" aria-controls="#leagueNav" aria-expanded="false" aria-label="Toggle navigation">
            <span><%= octicon "three-bars", fill: "#fff" %></span>
        </button>
        <div class="collapse navbar-collapse" id="leagueNav">
            <ul class="navbar-nav">
                <li class="nav-item text-muted">
                    <%= link_to "Home", league_path(@league), method: :get, class: "nav-link" %>
                </li>
                <li class="nav-item text-muted">
                    <%= link_to "Leaders", leaders_league_path(@league), method: :get, class: "nav-link" %>
                </li>
                <li class="nav-item text-muted">
                    <%= link_to "Players", players_league_path(@league), method: :get, class: "nav-link" %>
                </li>
                <li class="nav-item text-muted">
                    <%= link_to "Schedule", schedule_league_path(@league), method: :get, class: "nav-link" %>
                </li>
                <li class="nav-item font-weight-bold active">
                    <%= link_to "Transactions", transactions_league_path(@league), method: :get, class: "nav-link" %>
                </li>
                <li class="nav-item text-muted">
                    <%= link_to "Signups", signups_league_path(@league), method: :get, class: "nav-link" %>
                </li>
                <li class="nav-item text-muted">
                    <%= link_to "History", history_league_path(@league), method: :get, class: "nav-link" %>
                </li>
            </ul>
        </div>
    </nav>

    <% if current_user.admin || current_user.captain?(@season) || current_user.stat_admin %>
        <div class="row justify-content-center">
            <%= link_to submit_transaction_league_season_path(@league, @season), method: :get do %>
                <div class="col">
                    <div class="btn btn-outline-dark mt-3" style="cursor: pointer;">
                        Submit transaction
                    </div>
                </div>
            <% end %>
        </div>
    <% end %>

    <% if current_user.admin %>
        <div class="card mt-3">
            <div class="card-header text-center bg-dark text-white">
                Pending Trades
            </div>
            
            <div class="card-body text-center">
                <% if @pending_trades.any? %>
                    <% @pending_trades.each do |trade| %>
                        <div class="text-center font-weight-bold text-uppercase border border-secondary border-top-0 border-left-0 border-right-0 p-2"><%= trade.updated_at.strftime("%^b %d, %Y") %></div>
                        <div class="row mt-2 p-3 justify-content-center">
                            <% trade.movements.group_by{|m| m.destination_id}.each do |key, value| %>
                                <div class="col-6 col-lg-3 mb-3 ml-2 align-self-center">
                                    <div class="text-center border border-top-0 border-left-0 border-right-0 border-dark p-2 row">
                                        <div class="col-4 align-self-center text-left">
                                            <img class="img-fluid" src="<%= get_logo(@season.teams.find(key)) %>"/>
                                        </div>
                                        <div class="col-8 align-self-center text-left font-weight-bold text-uppercase">
                                            <%= @season.teams.find(key).name %>
                                        </div>
                                    </div>
                                    <% value.each do |v| %>
                                        <div class="row">
                                            <div class="col-12 p-2 text-left">
                                                <img class="mr-1 img-responsive rounded-circle" width="30" src="<%= get_avatar(v.team_player.player) %>"/> <%= v.team_player.player.user_name %> (<%= v.team_player.salary %> BOD)
                                            </div>
                                        </div>
                                    <% end %>
                                </div>
                            <% end %>

                            <div class="col-12 mt-2 justify-content-center">
                                <%= link_to approve_transaction_league_season_path(@league, @season, trade_id: trade.id), method: :post do %>
                                    <button class="btn btn-outline-dark" style="cursor: pointer;">Approve Transaction</button>
                                <% end %>
                                <%= link_to decline_transaction_league_season_path(@league, @season, trade_id: trade.id), method: :post do %>
                                    <button class="btn btn-outline-dark" style="cursor: pointer;">Decline Transaction</button>
                                <% end %>
                            </div>
                        </div>
                        
                    <% end %>
                <% else %>
                    <div class="card-text">
                        No pending transactions
                    </div>
                <% end %>
            </div>
        </div>
    <% end %>

    <div class="card mt-3 mb-3">
        <div class="card-header text-center bg-dark text-white">Approved Transactions</div>
        <div class="card-body text-center">
            <% if @approved_trades.any? %>
                <% @approved_trades.each do |trade| %>
                    <div class="text-center font-weight-bold text-uppercase border border-secondary border-top-0 border-left-0 border-right-0 p-2"><%= trade.updated_at.strftime("%^b %d, %Y") %></div>
                        <div class="row mt-2 p-3 justify-content-center">
                            <% trade.movements.group_by{|m| m.destination_id}.each do |key, value| %>
                                <div class="col-6 col-lg-3 mb-3 ml-2 align-self-center">
                                    <div class="text-center border border-top-0 border-left-0 border-right-0 border-dark p-2 row">
                                        <div class="col-4 align-self-center text-left">
                                            <img class="img-fluid" src="<%= get_logo(@season.teams.find(key)) %>"/>
                                        </div>
                                        <div class="col-8 align-self-center text-left font-weight-bold text-uppercase">
                                            <%= @season.teams.find(key).name %>
                                        </div>
                                    </div>
                                    <% value.each do |v| %>
                                        <div class="row">
                                            <div class="col-12 p-2 text-left">
                                                <img class="mr-1 img-responsive rounded-circle" width="30" src="<%= get_avatar(v.team_player.player) %>"/> <%= v.team_player.player.user_name %> (<%= v.team_player.salary %> BOD)
                                            </div>
                                        </div>
                                    <% end %>
                                </div>
                            <% end %>
                        </div>
                <% end %>
            <% else %>
                <div class="card-text">
                    No transactions
                </div>
            <% end %>
        </div>
    </div>
</div>