<div class="row justify-content-center mb-2" id="notification_<%= notification.id %>">
    <%= link_to link_through_path(notification), class: "col-9 align-self-center" do %>
        <div class="card rounded-0">
            <div class="card-body">
                <%= notification.body %>
            </div>
        </div>
    <% end %> 
    <%= link_to clear_notification_path(notification), method: :post, remote: true, id: "clear_notification_#{notification.id}", class: "col-1 align-self-center" do %>
        <div class="text-left">
            <%= octicon "x", fill: "#000" %>
        </div>
    <% end %>
</div>