<%= render 'games/carousel', league: @main_league, season: @season, recent_games: @recent_games %>

<div class="row mt-4">
    <div class="col-12 col-lg-8 mb-4">
        <div class="card bg-blue rounded-0 p-3 text-white">
            <h4 class="mb-0 font-weight-normal">Chat</h4>
        </div>

        <div id="chatbox">
            <%= render 'chat_boxes/chatbox', chat_box: @chatbox, messages: @messages, message: Message.new %>
        </div>

        <div class="card bg-blue rounded-0 p-3 text-white">
            <h4 class="mb-0 font-weight-normal">Forum</h4>
        </div>
        
        <% @subforums.each do |subforum| %>
            <%= render 'preview', subforum: subforum %>
        <% end %>
    </div>

    <div class="col-12 col-lg-4">
        <div class="card bg-blue rounded-0 p-3 text-white">
            <h4 class="mb-0 font-weight-normal">Leagues</h4>
        </div>

        <% @leagues.each do |league| %>
            <%= link_to league do %>
                <div class="card mt-1 rounded-0 p-3">
                    <h4 class="font-weight-normal"><%= league.name %></h4>
                    <p class="text-muted mb-0"><%= league.current_season.title %></p>
                </div>
            <% end %>
        <% end %>

        <% if !current_user.signed_up_for(@season) %>
            <%= link_to signup_league_season_path(@main_league, @season), class: "card  mt-4 bg-accent border-accent text-white mb-3" do %>
                <div class="card-body">
                    Waiver for Season 33
                </div>
            <% end %>
        <% end %>

        <div class="card mt-4 border-blue rounded-0">
            <div class="card-body">
                <div class="card-title">
                    Online members
                </div>
                <div class="card-text">
                    <% User.online.each do |u| %>
                        <span class="text-primary"><%= link_to u.user_name, profile_path(u.user_name), class: "card-link" %></span>, 
                    <% end %>
                </div>
            </div>
        </div>

        <div class="card bg-blue rounded-0 p-3 mt-4 text-white">
            <h4 class="mb-0 font-weight-normal">Recent posts</h4>
        </div>

        <% @recent_posts.each do |post| %>
            <%= link_to subforum_post_path(post.subforum, post) do %>
                <div class="card border-blue rounded-0 mt-1">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-3 text-center align-self-center">
                                <img class="img-responsive rounded-circle" style="max-height: 100%; max-width: 100%;" src=<%= get_avatar(post.most_recent.user) %>/>
                            </div>
                            <div class="col-9 text-left">
                                <div>
                                    <%= post.title %>
                                </div>
                                <div>
                                    <span class="text-muted"><%= (post.updated_at - 4.hours).strftime("%b %d at %I:%M %p") %></span>
                                </div>
                                <div>
                                    <span class="text-muted"><%= post.subforum.title %></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <% end %>
        <% end %>
    </div>
</div>

<%= javascript_pack_tag 'chat/new-message' %>