<% teams.order('name ASC').each do |t| %>
    <% if t.visibility %>
        <div class="col-4 bg-white border border-secondary ml-2 mr-2 mt-2 mb-2 p-3">
            <h4 class="mb-2 text-center"><%= t.name %></h4>
            <p class="text-center"><%= t.salary_hit %> / <%= t.salary_cap %> BOD</p>
            <hr></hr>
            <% t.team_players.each do |tp| %>
                <p><strong><%= tp.player.user_name %></strong> (<%= tp.salary %>)</p>
            <% end %>
        </div>
    <% end %>
<% end %>

<script>
    $('.popover-dismiss').popover({
        trigger: 'focus',
        html: true
    })
</script>