<% unplaced.each do |s| %>
    <a 
        tabindex="0" 
        class="col-3 btn btn-lg btn-outline-dark ml-2 mr-2 mb-2 mt-2 popover-dismiss"
        style="cursor: pointer;" 
        role="button" 
        data-toggle="popover" 
        data-trigger="focus" 
        title="<%= s.player.user_name %>" 
        data-content="<p><strong>Preferred:</strong> <%= s.preferred %></p> <p><strong>Willing:</strong> <%= s.willing.drop(1).to_sentence %></p> <p><strong>MIA:</strong> <%= s.mia %></p> <p><strong>Part-time:</strong> <%= s.part_time ? 'Yes' : 'No' %></p>">
        <%= s.player.user_name %>
    </a>
<% end %>

<script>
    $('.popover-dismiss').popover({
        trigger: 'focus',
        html: true
    })
</script>