<% if recent_games.any? %>
    <div class="carousel slide mt-2 mb-2 border border-main rounded-0" id="gameCarousel" data-ride="carousel" data-interval="false" style="background-color: #fff;">
        <ol class="carousel-indicators">
            <% todays_games = recent_games.select { |(key, values)| Date.strptime(key, "%a %b %d") == Date.today } %>
            <% past_game = recent_games.select{ |key, values| Date.strptime(key, "%a %b %d") <= Date.today }.sort_by {|key, values| Date.strptime(key, "%a %b %d") }.first %>
            <% if todays_games.any? %>
                <% recent_games.each_with_index do |(key, values), index| %>
                    <li data-target="#gameCarousel" data-slide-to="<%= index %>" class="<%= todays_games.include? recent_games[index] ? "active" : "" %>"></li>
                <% end %>
            <% else %>
                <% recent_games.each_with_index do |(key, values), index| %>
                    <li data-target="#gameCarousel" data-slide-to="<%= index %>" class="<%= past_game.include? recent_games[index] ? "active" : "" %>"></li>
                <% end %>
            <% end %>
        </ol>
        <div class="carousel-inner">
            <% recent_games.each_with_index do |vs, index| %>
                <div class="<%= index == 0 ? "carousel-item active" : "carousel-item" %>">
                    <div class="row justify-content-center mt-2 ml-5 mr-5">
                        <% vs[1].each do |serie| %>
                            <div class="col-3 col-lg-2 p-2 ml-1 mr-1 mb-2 border border-main">
                                <h4 class="text-center pb-2 border border-top-0 border-right-0 border-left-0 border-main">
                                    <img style="max-height: 40px;" src="<%= get_logo(serie[1].first.away_team) %>"/> <img style="max-height: 40px;" src="<%= get_logo(serie[1].first.home_team) %>"/>
                                </h4>
                                <% serie[1].each_with_index do |game, index| %>
                                    <%= link_to league_season_game_path(league, season, game), class: "col-2 p-0 align-self-center" do %>
                                        <h6 class="text-center">
                                            <% if game.final %>
                                                <strong>Game <%= index + 1 %>: </strong>
                                                <% if game.home_goals > game.away_goals %>
                                                    <%= game.home_goals %>
                                                    -
                                                    <%= game.away_goals %> <%= serie[1].first.home_team.abbreviation %>
                                                    <% if game.overtime %>
                                                         (OT)
                                                    <% end %>
                                                <% else %>
                                                    <%= game.away_goals %> 
                                                    -
                                                    <%= game.home_goals %> <%= serie[1].first.away_team.abbreviation %>
                                                    <% if game.overtime %>
                                                         (OT)
                                                    <% end %>
                                                <% end %>
                                            <% else %>
                                                <strong>Game <%= index+1 %></strong>
                                            <% end %>
                                        </h6>
                                    <% end %>
                                <% end %>
                            </div>
                        <% end %>
                    </div>
                    <div class="carousel-caption d-block mt-4 text-dark" style="position: relative; left: auto; right: auto;">
                        <h3><%= vs[0] %></h3>
                    </div>
                </div>
            <% end %>
        </div>
        <a class="carousel-control-prev text-dark" href="#gameCarousel" role="button" data-slide="prev">
            <span aria-hidden="true"><%= octicon "chevron-left", width: "40", height: "40" %></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#gameCarousel" role="button" data-slide="next">
            <span aria-hidden="true"><%= octicon "chevron-right", width: "40", height: "40" %></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
<% end %>