<%= simple_form_for([season.league, season, season.games.build]) do |f| %>
    <label class="model-label">
        Away Team
    </label>
    <%= f.league :away_team, label_method: :name, label: false %>

    <label class="model-label">
        Home Team
    </label>
    <%= f.league :home_team, label_method: :name, label: false %>

    <label class="date-label">
        Date and Time
    </label>
    <%= f.input_field :date, required: true, class: "date-input" %>

    <%= f.button :submit, "Create game", class: "create-game-btn" %>
<% end %>