<fieldset>
    <%= f.hidden_field :_destroy, class: "removable" %>
    <%= f.hidden_field :team_id, value: @game.home_team.id %>
    <div class="row justify-content-center mb-3">
        <div class="col-5">
            <%= f.select :user_id, @game.home_team.players.collect{ |p| [p.user_name, p.id]}, {}, {class: "form-control"} %>
        </div>
        <div class="col-5">
            <%= f.select :position, ["LW", "C", "RW", "LD", "RD", "G"], {}, {class: "form-control"} %>
        </div>
        <div class="col-1 align-self-center">
            <%= link_to "<img class='delete' src='#{asset_path("feathericons/x.svg")}'/>".html_safe, '#', class: "remove_players" %>
        </div>
    </div>
</fieldset>
