<%= form_for(:names, :url => url_for(:action => "process_away_names", :controller => "games"), method: :post) do |f| %>
    <% @skater_stats.each do |ss| %>
        <%= f.hidden_field :skater_stats, multiple: true, value: ss.to_json %>
    <% end %>
    <%= f.hidden_field :goalie_stats, value: @goalie_stats[0].to_json %>
    <div class="row justify-content-center mb-2">
        <div class="col-2">
            <h4>Player name</h4>
        </div>
        <div class="col-4">
            <h4>Actual Player</h4>
        </div>
        <div class="col-2">
            <h4>Position</h4>
        </div>
        <div class="col-2">
            <h4>Plus/Minus</h4>
        </div>
    </div>
    <% @skater_names.each_with_index do |player_name, index| %>
        <div class="form-group row justify-content-center">
            <label class="col-2 align-self-center">
                <%= player_name[0] %>
            </label>
            <div class="col-4">
                <%= f.select ":player_#{index}",
                    @game.away_team.players.order('LOWER(user_name) ASC').collect{ |p| [p.user_name, p.id]} + 
                    @game.season.teams.find_by(name: "Waivers").players.order('LOWER(user_name) ASC').collect{|p| [p.user_name + " (Waiver)", p.id]} + 
                    @game.season.teams.find_by(name: "Free Agents").players.order('LOWER(user_name) ASC').collect{|p| [p.user_name + " (Waiver)", p.id]},
                    {}, 
                    {class: "form-control"} 
                %> 
            </div>
            <div class="col-2">
                <%= f.select ":player_#{index}_posm", ["LW", "C", "RW", "LD", "RD"], {}, {class: "form-control"} %>
            </div>
            <div class="col-2">
                <%= f.text_field ":player_#{index}_pm", class: "form-control", value: 0 %>
            </div>
        </div>
    <% end %>
    <div class="form-group row justify-content-center">
        <label class="col-2 align-self-center">
            <%= @goalie_name[0][0] %>
        </label>
        <div class="col-4">
            <%= f.select :goalie,
                @game.away_team.players.order('LOWER(user_name) ASC').collect{ |p| [p.user_name, p.id]} + 
                @game.season.teams.find_by(name: "Waivers").players.order('LOWER(user_name) ASC').collect{|p| [p.user_name + " (Waiver)", p.id]} + 
                @game.season.teams.find_by(name: "Free Agents").players.order('LOWER(user_name) ASC').collect{|p| [p.user_name + " (Waiver)", p.id]},
                {}, 
                {class: "form-control"} 
            %> 
        </div>
    </div>
    <div class="form-group row justify-content-center">
        <%= f.submit "Submit Players", class: "btn btn-outline-dark ml-auto mr-auto", style: "cursor: pointer;" %>
    </div>
<% end %>