<%= form_for(@game, :url => url_for(:action => "process_away_stats", :controller => "games"), method: :post) do |f| %>
    <div class="enter-stats">
        <div class="team">
            <%= f.number_field :away_toa_minutes %>
            <%= f.number_field :away_toa_seconds %>
            <%= f.number_field :away_ppg %>
            <%= f.number_field :away_ppo %>
        </div>

        <div class="goals" id="goals">
            
            <%= f.fields_for :goals, @game.away_goals do |builder| %>
                <%= render "goalentry", f: builder, players: @game.away_players %>
            <% end %>
            

            <%= link_to_add_goals "Add Goal", f, :goals, @game.away_players %>
        </div>

        <div class="penalties" id="penalties">
            <%= f.fields_for :penalties, @game.away_penalties do |builder| %>
                <%= render "penaltyentry", f: builder, players: @game.away_players %>
            <% end %>

            <%= link_to_add_penalties "Add Penalty", f, :penalties, @game.away_players %>
        </div>

        <div class="players">
            <% @game.game_players.each do |gp| %>
                <% if gp.id != nil && gp.player.teams.include?(@game.away_team) %>
                    <%= f.fields_for :stat_lines do |builder| %>
                        <%= builder.hidden_field :team_id, :value => @game.away_team.id %>
                        <%= builder.hidden_field :position, :value => gp.position %>
                        <%= builder.hidden_field :user_id, :value => gp.player.id %>
                        <% if gp.position != "G" %>
                            <%= builder.number_field :plus_minus %>
                            <%= builder.number_field :shots %>
                            <%= builder.number_field :hits %>
                            <%= builder.number_field :fow %>
                            <%= builder.number_field :fot %>
                        <% else %>
                            <%= builder.number_field :shots_against %>
                            <%= builder.number_field :goals_against %>
                        <% end %>
                    <% end %>
                <% end %>
            <% end %>
        </div>
    </div>

    <%= f.submit %>
<% end %>