<%= form_for(@game, :url => url_for(:action => "process_away_stats", :controller => "games"), method: :post) do |f| %>
    <div class="card">
        <div class="card-header text-center font-weight-bold">
            Submit stats: <%= @game.date.strftime("%I:%M %p %^b %d %Y") %> (<%= @game.away_team.name %>)
        </div>

        <div class="card-body">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-6 text-center">
                    <label>
                        Time on Attack
                    </label>
                    <div class="form-row justify-content-center">
                        <div class="col-5 form-group">
                            <%= f.text_field :away_toa_minutes, class: "form-control", placeholder: "0" %>
                        </div>
                        <div class="col-1 form-group align-self-center">
                            :
                        </div>
                        <div class="col-5 form-group">
                        <%= f.text_field :away_toa_seconds, class: "form-control", placeholder: "00" %>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6 text-center">
                    <label>
                        Power Play
                    </label>
                    <div class="form-row justify-content-center">
                        <div class="col-5 form-group">
                            <%= f.text_field :away_ppg, class: "form-control", placeholder: "0" %>
                        </div>
                        <div class="col-1 form-group align-self-center">
                            /
                        </div>
                        <div class="col-5 form-group">
                        <%= f.text_field :away_ppo, class: "form-control", placeholder: "00" %>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row justify-content-center">
                <div class="col text-center justify-content-center">
                    <label class="form-check-label">
                        <%= f.check_box :overtime, class: "form-check-input text-center" %>
                        Overtime?
                    </label>
                </div>
            </div>

            <div class="card mt-3">
                <div class="card-header">Player Stats</div>
                <div class="card-body">
                    <%= f.fields_for :game_players, @game.away_players do |gpbuilder| %>
                        <%= gpbuilder.fields_for :stat_line_attributes, gpbuilder.object.stat_line do |builder| %>
                            <%= builder.hidden_field :game_player_id, :value => gpbuilder.object.id %>
                            <%= builder.hidden_field :game_id, :value => @game.id %>
                            <%= builder.hidden_field :season_id, :value => @game.season.id %>
                            <%= builder.hidden_field :team_id, :value => @game.away_team.id %>
                            <%= builder.hidden_field :position, :value => gpbuilder.object.position %>
                            <%= builder.hidden_field :user_id, :value => gpbuilder.object.player.id %>
                            <% if gpbuilder.object.position != "G" %>
                                <div class="row mt-2">
                                    <div class="col-2">
                                    </div>
                                    <div class="col-1 text-center font-weight-bold text-muted">
                                        G
                                    </div>
                                    <div class="col-1 text-center font-weight-bold text-muted">
                                        A
                                    </div>
                                    <div class="col-1 text-center font-weight-bold text-muted">
                                        +/-
                                    </div>
                                    <div class="col-1 text-center font-weight-bold text-muted">
                                        S
                                    </div>
                                    <div class="col-1 text-center font-weight-bold text-muted">
                                        PIM
                                    </div>
                                    <div class="col-1 text-center font-weight-bold text-muted">
                                        H
                                    </div>
                                    <div class="col-1 text-center font-weight-bold text-muted">
                                        PPG
                                    </div>
                                    <div class="col-1 text-center font-weight-bold text-muted">
                                        SHG
                                    </div>
                                    <div class="col-1 text-center font-weight-bold text-muted">
                                        FOW
                                    </div>
                                    <div class="col-1 text-center font-weight-bold text-muted">
                                        FOT
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-2 text-center align-self-center">
                                        <img class="img-responsive rounded-circle" width="30" height="30" src="<%= get_avatar(gpbuilder.object.player) %>"/>
                                        <%= gpbuilder.object.player.user_name %>
                                    </div>
                                    <% if builder.object.nil? %>
                                        <div class="col-1 text-center align-self-center">
                                            <%= builder.text_field :goals, class: "form-control text-center", value: 0 %>
                                        </div>
                                        <div class="col-1 text-center align-self-center">
                                            <%= builder.text_field :assists, class: "form-control text-center", value: 0 %>
                                        </div>
                                        <div class="col-1 text-center align-self-center">
                                            <%= builder.text_field :plus_minus, class: "form-control text-center", value: 0 %>
                                        </div>
                                        <div class="col-1 text-center align-self-center">
                                            <%= builder.text_field :shots, class: "form-control text-center", value: 0 %>
                                        </div>
                                        <div class="col-1 text-center align-self-center">
                                            <%= builder.text_field :pim, class: "form-control text-center", value: 0 %>
                                        </div>
                                        <div class="col-1 text-center align-self-center">
                                            <%= builder.text_field :hits, class: "form-control text-center", value: 0 %>
                                        </div>
                                        <div class="col-1 text-center align-self-center">
                                            <%= builder.text_field :ppg, class: "form-control text-center", value: 0 %>
                                        </div>
                                        <div class="col-1 text-center align-self-center">
                                            <%= builder.text_field :shg, class: "form-control text-center", value: 0 %>
                                        </div>
                                        <div class="col-1 text-center align-self-center">
                                            <%= builder.text_field :fow, class: "form-control text-center", value: 0 %>
                                        </div>
                                        <div class="col-1 text-center align-self-center">
                                            <%= builder.text_field :fot, class: "form-control text-center", value: 0 %>
                                        </div>
                                    <% else %>
                                        <div class="col-1 text-center align-self-center">
                                            <%= builder.text_field :goals, class: "form-control text-center", value: builder.object.goals == 0 ? 0 : builder.object.goals %>
                                        </div>
                                        <div class="col-1 text-center align-self-center">
                                            <%= builder.text_field :assists, class: "form-control text-center", value: builder.object.assists == 0 ? 0 : builder.object.assists %>
                                        </div>
                                        <div class="col-1 text-center align-self-center">
                                            <%= builder.text_field :plus_minus, class: "form-control text-center", value: builder.object.plus_minus == 0 ? 0 : builder.object.plus_minus %>
                                        </div>
                                        <div class="col-1 text-center align-self-center">
                                            <%= builder.text_field :shots, class: "form-control text-center", value: builder.object.shots == 0 ? 0 : builder.object.shots %>
                                        </div>
                                        <div class="col-1 text-center align-self-center">
                                            <%= builder.text_field :pim, class: "form-control text-center", value: builder.object.pim == 0 ? 0 : builder.object.pim %>
                                        </div>
                                        <div class="col-1 text-center align-self-center">
                                            <%= builder.text_field :hits, class: "form-control text-center", value: builder.object.hits == 0 ? 0 : builder.object.hits %>
                                        </div>
                                        <div class="col-1 text-center align-self-center">
                                            <%= builder.text_field :ppg, class: "form-control text-center", value: builder.object.ppg == 0 ? 0 : builder.object.ppg %>
                                        </div>
                                        <div class="col-1 text-center align-self-center">
                                            <%= builder.text_field :shg, class: "form-control text-center", value: builder.object.shg == 0 ? 0 : builder.object.shg %>
                                        </div>
                                        <div class="col-1 text-center align-self-center">
                                            <%= builder.text_field :fow, class: "form-control text-center", value: builder.object.fow == 0 ? 0 : builder.object.fow %>
                                        </div>
                                        <div class="col-1 text-center align-self-center">
                                            <%= builder.text_field :fot, class: "form-control text-center", value: builder.object.fot == 0 ? 0 : builder.object.fot %>
                                        </div>
                                    <% end %>
                                </div>
                            <% else %>
                                <div class="row justify-content-center mt-2">
                                    <div class="col-2">
                                    </div>
                                    <div class="col-1 text-center font-weight-bold text-muted">
                                        SA
                                    </div>
                                    <div class="col-1 text-center font-weight-bold text-muted">
                                        GA
                                    </div>
                                </div>
                                <div class="row justify-content-center mt-2">
                                    <div class="col-2 text-center align-self-center">
                                        <img class="img-responsive rounded-circle" width="30" height="30" src="<%= get_avatar(gpbuilder.object.player) %>"/>
                                        <%= gpbuilder.object.player.user_name %>
                                    </div>
                                    <% if builder.object.nil? %>
                                        <div class="col-1 text-center align-self-center">
                                            <%= builder.text_field :shots_against, class: "form-control text-center", value: 0 %>
                                        </div>
                                        <div class="col-1 text-center align-self-center">
                                            <%= builder.text_field :goals_against, class: "form-control text-center", value: 0 %>
                                        </div>
                                    <% else %>
                                        <div class="col-1 text-center align-self-center">
                                            <%= builder.text_field :shots_against, class: "form-control text-center", value: builder.object.shots_against == 0 ? 0 : builder.object.shots_against %>
                                        </div>
                                        <div class="col-1 text-center align-self-center">
                                            <%= builder.text_field :goals_against, class: "form-control text-center", value: builder.object.goals_against == 0 ? 0 : builder.object.goals_against %>
                                        </div>
                                    <% end %>
                                </div>
                            <% end %>
                        <% end %>
                    <% end %>
                </div>
            </div>

            <div class="row justify-content-center mt-4">
                <div class="col text-center">
                    <%= f.submit "Enter stats", class: "btn btn-outline-info", style: "cursor: pointer;" %>
                </div>
            </div>
        </div>
    </div>
<% end %>