<%= simple_form_for(@game, :url => url_for(:action => "process_stats", :controller => "games"), method: :post) do |f| %>
    <div class="enter-stats">
        <div class="team">
            <%= f.input_field :toa_minutes %>
            <%= f.input_field :toa_seconds %>
            <%= f.input_field :ppg %>
            <%= f.input_field :ppo %>
        </div>
        <div class="goals">
            <div class="goal">
                <%= f.input_field :scorer %>
                <%= f.input_field :primary %>
                <%= f.input_field :secondary %>
                <%= f.input_field :type %>
            </div>
        </div>
        <div class="penalties">
            <div class="penalty">
                <%= f.input_field :length %>
                <%= f.input_field :taker %>
            </div>
        </div>
        <div class="players">
        </div>
    </div>
<% end %>