<h3 class="text-center mb-4">Enter Skater & Goalie Stats (<%= @game.home_team.abbreviation %>) for <%= @game.away_team.name %> @ <%= @game.home_team.name %>: <%= @game.date.strftime("%I:%M %p") %></h3>

<%= form_for(:home_images, :url => url_for(:action => "process_home_image", :controller => "games"), html: {multipart: true}, method: :post) do |f| %>
    <div class="form-group row justify-content-center border border-main p-3">
        <div class="col-4">
            <label><h4>Skaters Image</h4></label>
            <%= f.file_field :skater_image, class: "form-control-file" %>
        </div>
        <div class="col-4">
            <label><h4>Goalie Image</h4></label>
            <%= f.file_field :goalie_image, class: "form-control-file" %>
        </div>
    </div>
    <div class="form-group row justify-content-center mt-4">
        <%= f.submit "Save Skaters and Goalies", class: "btn btn-outline-dark ml-auto mr-auto", style: "cursor: pointer;" %>
    </div>
<% end %>