<div class="games">
    <a href="#" class="scroll left" id="scroll-left">
        <span class="glyphicon glyphicon-menu-left"></span>
    </a>
    <div class="embedded" id="games">
        <% @season.games.where(date: 1.week.ago..1.week.from_now).order('date ASC').group_by{|g| g.date.strftime("%^b %d")}.each do |key, values| %>
            <div class="date-block">
                <%= key %>
            </div>
            <% values.each do |game| %>
                <%= link_to league_season_game_path(@season.league, @season, game), method: :get do %>
                    <div class="game">
                        <div class="logos">
                            <img class="logo" src="<%= get_logo(game.away_team) %>"/>
                            <img class="logo" src="<%= get_logo(game.home_team) %>"/>
                        </div>
                        <% if game.final %>
                            <div class="scores">
                                <div class="score">
                                    <%= game.away_goals %>
                                </div>
                                <div class="score">
                                    <%= game.home_goals %>
                                </div>
                            </div>
                        <% else %>
                            <div class="tbd">
                                TBD
                            </div>
                        <% end %>
                    </div>
                <% end %>
            <% end %>
        <% end %>
    </div>
    <a href="#" class="scroll right" id="scroll-right">
        <span class="glyphicon glyphicon-menu-right"></span>
    </a>
</div>

<div class="game-view">
    <%= render 'game', game: @game, season: @season %>
</div>