<%= form_for(@game, :url => url_for(:action => "add_players", :controller => "games"), method: :post) do |f| %>
    <div class="card">
        <div class="card-header text-center">
            Submit players: <%= @game.date.strftime("%I:%M %p %^b %d %Y") %> (<%= @game.home_team.name %>)
        </div>
        <div class="card-body text-center">
            <div class="form-group">
                <div>
                    <%= f.fields_for :game_players, @game.game_players.where(team_id: @game.home_team) do |builder| %>
                        <%= render "home_playerentry", f: builder %>
                    <% end %>
                    
                    <%= link_to_add_home_players "<button class='btn btn-outline-dark' style='cursor: pointer;'>Add player</button>".html_safe, f, :game_players %>
                </div>
                <%= f.submit "Submit players", class: "btn btn-info mt-4", style: "cursor: pointer;" %>
            </div>
        </div>
    </div>
<% end %>