<div class="log-in">
    <div class="header">
        <img class="logo" src="<%= image_path("MooseLogo.png") %>"/>
        Log in
    </div>
    
    <div class="form">
        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

            <%= f.input_field :email, required: false, autofocus: true, class: "text-input" %>
            <label class="text-field">Email</label>

            <%= f.input_field :password, required: false, class: "text-input" %>
            <label class="text-field">Password</label>

            <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>

            <%= f.button :submit, "Log in", class: "login-btn" %>
        <% end %>

        <div class="help">
            <%= render "devise/shared/links" %>
        </div>
    </div>
</div>