<div class="log-in-container">

    <div class="header">
        Log in
    </div>

    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

        <label class="text-label">
            Email
        </label>
        <%= f.input_field :email, required: false, autofocus: true, class: "text-input" %>

        <label class="text-label">
            Password
        </label>
        <%= f.input_field :password, required: false, class: "text-input" %>

        <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>

        <%= f.button :submit, "Log in", class: "log-in-btn" %>

    <% end %>

    <div class="help-links">
        <%= render "devise/shared/links" %>
    </div>

</div>