<div class="card bg-dark text-white mt-4">
    <div class="card-body">
        <div class="card-text">
            <%= post.title %>
        </div>
    </div>
</div>

<div class="card mt-2">
    <div class="card-body row">
        <div class="col-2">
            <img class="img-responsive rounded-circle" style="max-height: 100%; max-width: 100%;" src=<%= get_avatar(post.user) %>/>
            <div class="card-link text-center">
                <%= link_to post.user.user_name, profile_path(post.user.user_name) %>
            </div>
            <div class="card-text text-center text-muted">
                <%= (post.created_at - 4.hours).strftime("%I:%M %p") %>
            </div>
            <div class="card-text text-center text-muted">
                <%= (post.created_at - 4.hours).strftime("%d %^b %Y") %>
            </div>
            <% if current_user == post.user || current_user.admin %>
                <div class="card-link text-center text-muted">
                    <%= link_to "Edit", edit_subforum_post_path(subforum, post) %>
                </div>
                <div class="text-center text-muted">
                    <%= link_to subforum_post_path(subforum, post), method: :delete, data: {confirm: "Are you sure?"} do %>
                        <%= octicon "x" %>
                    <% end %>
                </div>
            <% end %>
        </div>

        <div class="col-10 post">
            <%= post.content.html_safe %>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <div class="row" id="likes-post-<%= post.id %>">
            <%= render 'posts/likes', post: post %>
        </div>
    </div>
</div>

<div id="comments">
    <%= render @comments.order('created_at ASC'), post: post, subforum: subforum %>

    <div class="text-center mt-4">
        <%= will_paginate @comments %>
    </div>
</div>

<div class="mt-4">
    <%= simple_form_for([subforum, post, post.comments.build], remote: true) do |f| %>
        <%= f.hidden_field :content %>
        <%= f.button :submit, style: "display: none;", id: "real-submit" %>
    <% end %>
    <div class="pell" id="pell">
    </div>
    <div class="row justify-content-center mt-2">
        <button class="btn btn-outline-dark" style="cursor: pointer;" id="submit">Submit</button>
    </div>
</div>

<%= javascript_pack_tag 'posting/new-post' %>
