<div class="main-post">
    <div class="title">
        <%= post.title %>
    </div>

    <div class="main">
        <div class="info">
            <img class="photo" src=<%= get_avatar(post.user) %>/>
            <div class="user">
                <%= link_to post.user.user_name, profile_path(post.user.user_name) %>
            </div>
            <div class="time">
                <%= post.created_at.strftime("%I:%M %p") %>
            </div>
            <div class="date">
                <%= post.created_at.strftime("%d %^b %Y") %>
            </div>
            <% if current_user == post.user || current_user.admin %>
                <div class="edit">
                    <%= link_to "Edit", edit_subforum_post_path(subforum, post), method: :get %>
                </div>
                <div class="edit">
                    <%= link_to "<img src='#{asset_path("feathericons/x.svg")}'/>".html_safe, subforum_post_path(subforum, post), method: :delete, data: {confirm: "Are you sure?"} %>
                </div>
            <% end %>
        </div>

        <div class="content">
            <%= post.content.html_safe %>
        </div>
    </div>

    <div class="liking">
        <div id="likes-post-<%= post.id %>">
            <%= render 'posts/likes', post: post %>
        </div>
    </div>
</div>

<div class="comments" id="comments">
    <%= render @comments.order('created_at ASC'), post: post, subforum: subforum %>
</div>

<div class="comment-form">
    <%= simple_form_for([subforum, post, post.comments.build], remote: true) do |f| %>
        <%= f.hidden_field :content %>
        <%= f.button :submit, style: "display: none;", id: "real-submit" %>
    <% end %>
    <div class="pell" id="pell">
    </div>
    <button class="submit" id="submit">Submit</button>
</div>

