<!DOCTYPE html>
<html>

<head>
    <title>Moose Hockey League</title>
    <link rel="shortcut icon" href=<%= image_path("MooseLogo.png")%> type="image/png"/>
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/pell/dist/pell.min.css">
    <link rel="stylesheet" href="https://unpkg.com/react-table@latest/react-table.css">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta name="turbolinks-cache-control" content="no-cache">

    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-9028949717382431",
        enable_page_level_ads: true
    });
    </script>
</head>

<body>
    <div class="loader" id="loader">
        <div class="one"></div>
        <div class="two"></div>
    </div>
    <% if alert %>
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Alert</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <%= alert %>
                </div>
                </div>
            </div>
        </div>
        <script>
            $("#myModal").modal('toggle');
        </script>
    <% end %>

    <% if notice %>
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Notice</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <%= notice %>
                </div>
                </div>
            </div>
        </div>
        <script>
            $("#myModal").modal('toggle');
        </script>
    <% end %>

    <nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-main pt-4 pb-4 nav-border">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbar">
                <div class="navbar-nav mr-auto">
                    <%= link_to root_path, class: "navbar-brand ml-0 d-none d-lg-inline-block" do %>
                        Moose Hockey League
                    <% end %>

                    <%= link_to "Rules", pages_rules_path, class: "nav-link" %>

                    <% if user_signed_in? %>
                        <%= link_to "MHL", league_path(League.first), class: "nav-link" %>
                    <% end %>
                </div>

                <% if user_signed_in? %>
                    <span id="notifications">
                        <%= render 'notifications/notifications'%>
                    </span>
                    <%= render 'profiles/profile_dropdown' %>
                <% end %>
            </div>
        </div>
    </nav>

    <div class="container">
        

        <div class="text-center mb-4" style="z-index: 1500; position: relative;">
            <%= link_to root_path do %>
                <img width="75" height="75" style="margin-top: -45px; z-index: 1500;" src="<%= image_path("MooseLogo.png") %>"/>
            <% end %>
        </div>

        <%= yield %>
    </div>
</body>

</html>