<!DOCTYPE html>
<html>

<head>
    <title>Moose Hockey League</title>
    <link rel="shortcut icon" href=<%= image_path("MooseLogo.png")%> type="image/png"/>
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/pell/dist/pell.min.css">
    <link rel="stylesheet" href="https://unpkg.com/react-table@latest/react-table.css">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'posting/new-post' %>
</head>

<body>
    <% if alert %>
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Alert</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <%= alert %>
                </div>
                </div>
            </div>
        </div>
        <script>
            $("#myModal").modal('toggle');
        </script>
    <% end %>

    <% if notice %>
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Notice</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <%= notice %>
                </div>
                </div>
            </div>
        </div>
        <script>
            $("#myModal").modal('toggle');
        </script>
    <% end %>
    <nav class="navigation-main">
        <div class="nav-container">
            <div class="nav-left">
                <div class="nav-element">
                    <%= link_to root_path, method: :get do %>
                        <img class="logo" src=<%= image_path("MooseLogo.png") %>/>
                    <% end %>
                </div>

                <div class="nav-element title">
                    <%= link_to "MOOSE HOCKEY", root_path, method: :get %>
                </div>

                <div class="nav-element rules">
                    <%= link_to "RULES", pages_rules_path, method: :get %>
                </div>
            </div>
            <div class="nav-right">
                <% if user_signed_in? %>
                    <div class="nav-element noti">
                        <%= render 'notifications/notification_dropdown' %>
                    </div>
                    <div class="nav-element">
                        <%= link_to profile_path(current_user.user_name), method: :get do %>
                            <img class="nav-photo" src=<%= get_avatar(current_user) %>/>
                        <% end %>
                    </div>
                    <div class="nav-element">
                        <%= link_to profile_path(current_user.user_name), method: :get do %>
                            <%= current_user.user_name %>
                        <% end %>
                    </div>
                    <div class="nav-element log-out">
                        <%= link_to "Log out", destroy_user_session_path, method: :delete %>
                    </div>
                <% end %>
            </div>
        </div>
    </nav>

    <%= yield %>
</body>

</html>