<!DOCTYPE html>
<html>

<head>
    <title>Moose Hockey League</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
    <nav class="navigation-main">
        <div class="nav-element">
            <%= link_to "Moose", root_path %>
        </div>
    </nav>

    <%= link_to "New Subforum", new_subforum_path %>

    <%= link_to "Leagues", leagues_path %>

    <%= yield %>
</body>

</html>