<!DOCTYPE html>
<html>

<head>
    <title>Moose Hockey League</title>
    <link rel="shortcut icon" href=<%= image_path("MooseLogo.png")%> type="image/png"/>
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/pell/dist/pell.min.css">
    <link rel="stylesheet" href="https://unpkg.com/react-table@latest/react-table.css">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'posting/new-post' %>
</head>

<body>
    <% if alert %>
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Alert</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <%= alert %>
                </div>
                </div>
            </div>
        </div>
        <script>
            $("#myModal").modal('toggle');
        </script>
    <% end %>

    <% if notice %>
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Notice</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <%= notice %>
                </div>
                </div>
            </div>
        </div>
        <script>
            $("#myModal").modal('toggle');
        </script>
    <% end %>
   
     <nav class="navbar navbar-light bg-faded" style="background-color: #d2d2d2;">
        <%= link_to root_path, class: "navbar-brand", method: :get do %>
            <img class="img-fluid" width="30" height="30" src=<%= image_path("MooseLogo.png") %>/> MOOSE HOCKEY
        <% end %>

        <%= link_to "Rules", pages_rules_path, method: :get, class: "nav-link" %>

        <% if user_signed_in? %>

            <%= link_to profile_path(current_user.user_name), method: :get, class: "nav-link" do %>
                <img class="img-fluid rounded-circle" width="30" height="30" src="<%= get_avatar(current_user) %>"/> <%= current_user.user_name %>
            <% end %>

            <%= link_to "Log out", destroy_user_session_path, method: :delete, class:"nav-link" %>

        <% end %>
    </nav>

    <%= yield %>
</body>

</html>